.row_recharge {
  @apply grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'left right'
    'center center';
  @screen md {
    @apply flex justify-between py-4;
  }
}
.order_left {
  grid-area: left;
}
.order_center {
  @apply py-4 mt-4 border-t border-neutral-200;
  grid-area: center;

  @screen md {
    @apply py-0 border-0 mt-0;
  }
}
.order_right {
  grid-area: right;
}
