.widgetScroll {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    list-style: none;
  }
  
  .widgetScroll::-webkit-scrollbar {
    width: 4px;
    min-height: 162px;
  }
  
  .widgetScroll::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 2px;
  }
  